
@{
    ViewBag.Title = "Grado por Nivel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section estilos{

    <style>
        .moveall, .removeall {
            border: 1px solid #ccc !important;
            background: #efefef;
        }


        .moveall:hover, .removeall:hover {
            background: #efefef;
        }

        .moveall::after {
            content: attr(title);
        }

        .removeall::after {
            content: attr(title);
        }

        .form-control option {
            padding: 10px;
            border-bottom: 1px solid #efefef;
            cursor:pointer
        }
        .bootstrap-duallistbox-container > div.box1 > select,
        .bootstrap-duallistbox-container > div.box2 > select {
            height: 180px !important;
        }
    </style>
}


<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        Asignar grados por nivel academico
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm float-right" onclick="GuardarCambios()">
                            <i class="fas fa-check" aria-hidden="true"></i> Guardar Cambios
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="cboPeriodo">Periodo</label>
                            <select id="cboperiodo" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="cboNivelAcademico">Nivel Academico</label>
                            <select id="cboNivelAcademico" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="bg"></label>
                            <button type="button" class="btn btn-success btn-block mt-1" id="btnBuscar" onclick="Buscar()">Buscar</button>
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="alert alert-danger" role="alert">
                                    Grados pendientes por asignar
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="alert alert-success" role="alert">
                                    Grados Asignados
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <select multiple="multiple" id="cbodata" class="form-control"></select>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

@section scripts{

    <script src="@Url.Content("~/Scripts/Controllers/GradoporNivel.js")" type="text/javascript"></script>
}
