
@{
    ViewBag.Title = "Nivel Academico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        Lista de Niveles Academicos
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm float-right" onclick="abrirPopUpForm(null)">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tbnivel" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Descripcion Periodo</th>
                            <th>Descripcion Nivel</th>
                            <th>Descripcion Turno</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nivel Academico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtIdNivel" type="hidden" value="0" />

                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cboperiodo">Periodo</label>
                                <select id="cboperiodo" class="form-control" name="comboperiodo">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtDescripcionNivel">Descripcion Nivel</label>
                                <input type="text" class="form-control required" id="txtDescripcionNivel" name="descripcionNivel">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtDescripcionTurno">Descripcion Turno</label>
                                <input type="text" class="form-control required" id="txtDescripcionTurno" name="descripcionTurno">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtHoraInicio">Hora Inicio</label>
                                <input type="text" class="form-control required" id="txtHoraInicio" name="horaInicio">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtHoraFin">Hora Fin</label>
                                <input type="text" class="form-control required" id="txtHoraFin" name="horaFin">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cboEstado">Estado</label>
                                <select id="cboEstado" class="form-control">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>







                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Controllers/NivelAcademico.js")" type="text/javascript"></script>
}

